[package]
name = "magma"
version = "0.3.0"
description = "Magma (GOST 28147-89 and GOST R 34.12-2015) block cipher"
authors = ["RustCrypto Developers"]
license = "MIT/Apache-2.0"
readme = "README.md"
edition = "2018"
documentation = "https://docs.rs/magma"
repository = "https://github.com/RustCrypto/block-ciphers"
keywords = ["crypto", "magma", "gost", "block-cipher"]
categories = ["cryptography", "no-std"]

[dependencies]
byteorder = { version = "1", default-features = false }
block-cipher = "= 0.7.0-pre"
opaque-debug = "0.2"

[dev-dependencies]
block-cipher = { version = "= 0.7.0-pre", features = ["dev"] }
