[package]
name = "blowfish"
version = "0.6.0"
description = "Blowfish block cipher"
authors = ["RustCrypto Developers"]
license = "MIT OR Apache-2.0"
readme = "README.md"
edition = "2018"
documentation = "https://docs.rs/blowfish"
repository = "https://github.com/RustCrypto/block-ciphers"
keywords = ["crypto", "blowfish", "block-cipher"]
categories = ["cryptography", "no-std"]

[dependencies]
block-cipher = "0.8"
byteorder = { version = "1", default-features = false }
opaque-debug = "0.3"

[dev-dependencies]
block-cipher = { version = "0.8", features = ["dev"] }

[features]
bcrypt = []
