[package]
name = "threefish"
version = "0.2.0"
authors = ["The Rust-Crypto Project Developers"]
license = "MIT OR Apache-2.0"
description = "Threefish block cipher"
documentation = "https://docs.rs/threefish"
readme = "README.md"
edition = "2018"
repository = "https://github.com/RustCrypto/block-ciphers"
keywords = ["crypto", "threefish", "gost", "block-cipher"]

[dependencies]
byte-tools = "0.3"
block-cipher = "0.8"

[dev-dependencies]
block-cipher = { version = "0.8", features = ["dev"] }
