name: kuznyechik

on:
  pull_request:
    paths:
      - ".github/workflows/kuznyechik.yml"
      - ".github/workflows/kuznyechik.yml"
      - "kuznyechik/**"
      - "Cargo.*"
  push:
    branches: master

defaults:
  run:
    working-directory: kuznyechik

env:
  CARGO_INCREMENTAL: 0
  RUSTFLAGS: "-Dwarnings"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - 1.65.0 # MSRV
          - stable
        target:
          - thumbv7em-none-eabi
          - wasm32-unknown-unknown
    steps:
      - uses: actions/checkout@v4
      - uses: RustCrypto/actions/cargo-cache@master
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}
          targets: ${{ matrix.target }}
      - run: cargo build --target ${{ matrix.target }}
      - run: cargo build --target ${{ matrix.target }}
        env:
          RUSTFLAGS: "-Dwarnings --cfg kuznyechik_force_soft"
      - run: cargo build --target ${{ matrix.target }}
        env:
          RUSTFLAGS: "-Dwarnings --cfg kuznyechik_force_soft --cfg kuznyechik_compact_soft"

  minimal-versions:
    uses: RustCrypto/actions/.github/workflows/minimal-versions.yml@master
    with:
        working-directory: ${{ github.workflow }}

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - 1.65.0 # MSRV
          - stable
    steps:
      - uses: actions/checkout@v4
      - uses: RustCrypto/actions/cargo-cache@master
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}
      - run: |
          cargo test
          cargo test --all-features
      - env:
          RUSTFLAGS: "-Dwarnings --cfg kuznyechik_force_soft"
        run: |
          cargo test
          cargo test --all-features
      - env:
          RUSTFLAGS: "-Dwarnings --cfg kuznyechik_force_soft --cfg kuznyechik_compact_soft"
        run: |
          cargo test
          cargo test --all-features

      # macOS tests
      macos:
        strategy:
          matrix:
            rust:
              - 1.65.0
              - stable
        runs-on: macos-latest
        steps:
          - uses: actions/checkout@v4
          - uses: RustCrypto/actions/cargo-cache@master
          - uses: dtolnay/rust-toolchain@master
            with:
              toolchain: ${{ matrix.rust }}
          - run: |
            cargo test
            cargo test --all-features
          - env:
              RUSTFLAGS: "-Dwarnings --cfg kuznyechik_compact_soft"
            run: |
              cargo test
              cargo test --all-features

